<!DOCTYPE html>
<html>
  <head>
    <title>CowClicker</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <header>
        <div id="logo"><%= link_to "CowClicker", root_path %></div>
        <div id="tagline">Click a cow, any cow</div>
      </header>

      <div class="main">
        <%= render "layouts/alerts" %>
        <%= yield %>
      </div>

      <footer>
        &copy; 2020 <b>CowClicker</b><br>
        <a href="terms-and-conditions.html">Privacy</a> | <a href="privac.html">Terms and Conditions</a>
      </footer>

    </div>
  </body>
</html>
